@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: aliceblue;
    position: relative;
}

header{
    display: flex;
    flex-direction: row;
    background-color: aqua;
    height: 25vh;
    width: 50vw;
    margin-inline-start: 25%;
    margin-top: 25px;
    text-align: center;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}

main{
    background-color: aquamarine;
    height: 60vh;
    width: 70%;
    margin-top: 20px;
    margin-inline-start: 15%;
    border-radius: 25%;

    display: flex;
    justify-content: center;
}

#select{
    padding: 20px;
}
.game{
}